# Compiled binary
nspect
container-check

# Temporary build folder
build/

# Package installers & Rock images
*.deb
*.rpm
*.rock

# Rockcraft & build directories
.rockcraft/
stage/
prime/
parts/

# Generated SBOM artifacts
*.spdx.json

# Test and run logs
*.log

# Editor configurations
.idea/
.vscode/
.DS_Store
